body {
	margin:0;
	font-size : 13pt;
	font-family : "Trebuchet MS", Arial, sans-serif;
	background-image: url('../img/Ruines_des_Pics_Blancs.jpg');
	background-size: 100% 1000px;
    background-repeat: no-repeat;
	color: white;
}

h2 {
	margin-top : 0px;
	font-weight : bold;
}

#status {
	position : relative;
	float: right;
	top: 100px;
	width: 253px;
	height: auto;
	text-align : center;
	border-left : 1px solid white;
	background-color: white 50%;

}

#status div {
	padding : 10px 20px;
	color : white;
}
.life_monster {
	
	border-top : 1px solid white;
}
.inventaire{
	border-top: 1px solid white;
}
em{
	font-size: 8pt;
}


.section {
	padding : 10px;
	margin-left: 25%;
	margin-top : 15%;
	width : 600px;
	float: left;
}

.section#intro {
	display : block;
}

.section button {
	display : block;
	float: left;
	width : 32%;
	color : white;
	text-decoration : none;
	padding : 5px 10px;
	margin-top : 30px;

	background: #6d83a8;
	background: -moz-linear-gradient(0% 100% 90deg,#6d83a8, #c3cfe3);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c3cfe3), to(#6d83a8));
	border: 1px solid #6d83a8;
	border-width: 1px 1px 0 1px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.section button+button  {
	margin-left: 10px;
}

.section button:hover {

	background: #6d83a8;

.battle {
	padding : 10px 10px;
	margin : 20px 0px;
	box-shadow : 0px 2px 8px white;
}


